*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5% !important;
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.2rem;
  font-weight: 400;
  height: 100%;
}

.page-wrap {
  min-height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
