// Headings
// --------------------------

.h1 {
  margin-bottom: 1em;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.2rem;
}

// Additional
// --------------------------

.meta {
  color: var(--gray-b0);
}