.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.icon-contact {
  font-size:(26/10)*1rem;
  width:(26/26)*1em;
}
.icon-lock {
  font-size:(26/10)*1rem;
  width:(26/26)*1em;
}
